.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 15px;


  ul {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 600px;
  }

  div {
    display: flex;
    
  }

  .done {
    text-decoration: line-through;
    text-decoration-color: #49C0B8;
  }
}


.TodoList li {
  padding: 5px 10px;
  display: flex;
  width: 100%;
  background: #FBFBFB;
  border: none;
  border-bottom: 1px solid #D6E4EC;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 30px;
  transition: display 0.3s easy-in-out;

  &:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &:hover button {
    display: flex;
  }

  
  button {
    display: none;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;

    &.done-btn {
      color: #49C0B8;
      border-radius: 5px;
      border-color: #49C0B8;
      margin-right: 10px;
      margin-left: auto;
      border-style: solid;
      width: 16px;
      height:  16px;
      margin-top: 2px;
      padding: 0;
      outline: none;

      svg {
        width: 10px;
        height:  10px;
        margin-top: 1px;
        margin-right: 1px;
      }
    }

    &.delete-btn {
      border: none;
      margin-top: 1px;
      color: #7480FF;
    }

}
}
