.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;


  h1 {
    display: flex;
    background-color: #FFBE3D;
    color: #fff;
    padding: 25px;
    margin: 0;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: #7480FF;

      svg {
        color: #7480FF;
      }
    }
    
    svg {
      color: #fff;
      margin-right: 15px;
      margin-top: 5px;
     }
  }   
}

.MainPage div {
  display: flex;

}

.MainPage ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AddList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background:  #FBFBFB;
  margin: 25px;
  border: 2px dashed #7480FF;
  cursor: pointer;

  &:hover {
    border: 2px solid #7480FF;

    .AddIcon {
      animation-name: rotate;
      animation-duration: 0.3s;
      animation-timing-function: ease-out;
    }
  }

  .AddIcon {
    color:  #7480FF;

  }
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

