
.ListTitle {
  position: relative;
  display: flex;
  margin: 20px auto;
}

.ListTitle  input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #8c918d;
  font-size: 24px;
  color: black;
  padding: 0 25px;
  width: 250px;
  
}

.ListTitle  label {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 25px;
  height: 25px;
  color: #8c918d;
  margin-left: 10px;
  margin-bottom: 5px;
}

